body {
  margin-left: 200px;
  margin-top: 2px;
  margin-right: 300px;

}

/* table,
td,
th {
  border: 1px solid;
  padding: 18px;
}

#myTable {
  border-collapse: collapse;
  margin-top: 10px;
}

#deleteCart {
  border-collapse: collapse;
  margin-top: 10px;
 }  */
/* .liClass{
  border: 1px solid;
  padding: 2px;

} */
tr {
  border: 1px solid;
  padding: 5px;
}